@using Bebeclick.Models
@using Bebeclick.WebClient.Resources

@model LoginViewModel

@{
    ViewBag.Title = @Account.LoginTitle;
}

@section AddToHead{
    <link href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/account/login.css")" rel="stylesheet" type="text/css" />
}

<div id="__log_in">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "pure-form pure-form-stacked", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <h3 class="bebeclick">@Account.LoginTitle</h3>
            @Html.LabelFor(m => m.Email, new { @class = "__control_label" })
            @Html.ValidationMessageFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { id = "__email", type = "email", placeholder = Account.EmailPlaceHolder, required = "required" })
            @Html.LabelFor(m => m.Password, new { @class = "__control_label" })
            @Html.ValidationMessageFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { id = "__password", type = "password", placeholder = Account.PasswordPlaceHolder, required = "required" })
            <label id="__remember" for="__remember_me" class="pure-checkbox">
                <input id="__remember_me" value="remember" type="checkbox" />@Account.RememberMe

            </label>
            @Html.ActionLink(@Account.ForgotPassword, "ForgotPassword", null, new { id = "__forgot_password" })
            <input id="__log_in_button" type="submit" value="@Account.LogIn" class="pure-button pure-button-primary" />
            @Html.ValidationSummary(true, Account.LoginValidationSummary, new { @class = "validation_summary" })
        </fieldset>
    }
    <div id="__register_socialLoginForm">
        @Html.ActionLink(@Account.RegisterNewUser, "Register", "Account", null, new { id = "__register_user" })
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}