@using Bebeclick.Models
@using Microsoft.AspNet.Identity

@model ManageUserViewModel

@{
    ViewBag.Title = Resources.General.ManageTitle;
}

@section AddToHead{
    <link href="@Url.Content("~/Content/account/manage.css")" rel="stylesheet" type="text/css" />
}

<div id="__manage">
    @if (Model.UserDetails != null && Model.UserDetails.Provider == "Facebook")
    {
        <img src="@string.Format("{0}?type=large", Model.UserDetails.Picture)" alt="@Model.UserDetails.Name" />
    }

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
        @Html.Partial("_SetPasswordPartial")
    }

    <section id="externalLogins">
        @Html.Action("RemoveAccountList")
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
