@model Bebeclick.Models.RegisterViewModel
@using Bebeclick.WebClient.Resources
@{
    ViewBag.Title = Account.RegisterTitle;
}

@section AddToHead{
    <link href="@Url.Content("~/Content/account/register.css")" rel="stylesheet" type="text/css" />
}

<div id="__register">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "pure-form pure-form-stacked", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <h1 class="bebeclick">@Account.RegisterTitle</h1>
            @Html.LabelFor(m => m.Email, new { @class = "__control_label" })
            @Html.ValidationMessageFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { id = "__email", required = "required" })
            @Html.LabelFor(m => m.Password, new { @class = "__control_label" })
            @Html.ValidationMessageFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { id = "__password", required = "required" })
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "__control_label" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { id = "__confirm_password", required = "required" })
            <input id="__register_button" type="submit" value="@Account.RegisterNewUser" class="pure-button pure-button-primary" />
            @Html.ValidationMessage("RegisterResult", new { id = "__register_result" })
        </fieldset>
    }
</div>
<!-- TODO: Aviso de privacidad y términos de uso -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
